<link rel="stylesheet" href="/css/staffs.css">
{{!-- {{#each nhanviens}}
<p>{{this.TenNhanVien}}</p>
{{/each}} --}}

{{!-- <a href="/staffs/addNewStaff">add new staffs</a> --}}
<div class="staff__header">
    <div class="staff__search">
        <div class="staff__search-icon">
        <i class="fas fa-search"></i>
        </div>
        <input type="text" class="staff__search-input" placeholder="Search...">
    </div>
    <div class="staff__add">
        <a href="/staffs/addNewStaff">
        <div class="staff__add-btn">
            <i class="staff__add-icon fas fa-plus"></i>
        </div>
        </a>
    </div>
</div>
<div class="staff__container">
    <h2 class="staff__container-name">Danh sách nhân viên</h2>
    <table class="staff__container-list">
        <tr>
            <th>Mã nhân viên</th>
            <th>Họ và tên</th>
            <th>Số điện thoại</th>
            <th>Chức vụ</th>
            <th>Trạng thái</th>
            <th></th>
            <th></th>
        </tr>
        {{#each nhanviens}}
                <tr class="row-nhanvien">
                    <td hidden class="row-check-active-nhanvien">{{this.ActiveTour}}</td>
                    <td>{{this.MaNhanVien}}</td>
                    <td>{{this.TenNhanVien}}</td>
                    <td>{{this.SDTNhanVien}}</td>
                    <td>{{this.ChucVu}}</td>
                    <td class="td-checkactive-nhanvien">
                        <span class="span-checkactive-nhanvien "></span>
                    </td>
                    <td>
                        <div class="container-icon-extend-option tourist-groups">
                            <div class="icon-extend-option">
                                <i class="fas fa-ellipsis-v"></i>
                            </div>
                        </div>
                        <div class="menu-icon-extend-option">
                            <div class="item-option-icon-extend-option">
                                <table style="margin: 0;">
                                    <tr style="background-color: transparent;">
                                        <td>
                                            <i class="fas fa-edit"></i>
                                        </td>
                                        <td class="btn-edit-doandulich tourist-groups">Sửa</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
    </table>
</div>

{{!-- những đoạn code liên quan đến page này thì code ở link dưới nó nằm trong thư mục public --}}
<script src="util/staffs.js"></script>

<script>
    $('.container-item-tag').removeClass('active')
    $('.container-item-tag').eq(1).addClass('active')
    /////

</script>